@-moz-document url(chrome://browser/content/browser.xhtml) {

	:root:-moz-lwtheme-brighttext {
		--focus-outline-color: white !important;
	}

	#star-button-box {
		display: none !important;
	}

	.search-one-offs {
		display: none !important;
	}

	/* page */
	#context-navigation,
	#contentAreaContextMenu menuseparator,
	#context-savepage,
	#context-selectall,
	#context-sendpagetodevice,
	#context-pocket,
	#context-take-screenshot,
	#context-inspect-a11y,
	/* link */
	#context-bookmarklink,
	#context-savelink,
	#context-openlinkprivate,
	#context-searchselect,
	#context-sendlinktodevice,
	#context-savelinktopocket,
	/* image */
	#context-sendimage,
	#context-setDesktopBackground,
	#context-viewimageinfo {
		display: none !important;
	}

}
