@-moz-document url-prefix(about:reader) {
	
	.narrate-toggle,
	.pocket-button {
		display: none !important;
	}

	.toolbar {
		border: none !important;
		box-shadow: none !important;
	}
}

@-moz-document domain(developer.mozilla.org) {

	/* More space for content */
	:root {
		--max-width: 99999px !important;
	}
	@media screen and (min-width: 1200px) {
		.article-wrapper {
			grid-template-columns: auto 1fr auto !important;
			gap: 4rem !important;
			padding: 0 2rem !important;
		}
	}
	#sidebar-quicklinks {
		padding-right: 2rem !important;
	}

	/* Re-order header */
	@media screen and (min-width: 769px) {
		.header-search {
			order: 1 !important;
			margin: 0 1rem !important;
		}
		.main-nav {
			order: 2 !important;
		}
		.theme-toggle {
			order: 3 !important;
		}
	}

	/* Improve search bar */
	#nav-main-search {
		display: flex !important;
		width: 35ch !important;
	}
	.toggle-search-button,
	.close-search-button {
		display: none !important;
	}
	#main-q {
		text-decoration-color: transparent !important;
		caret-color: var(--text-link) !important;
	}
	#main-q::placeholder {
		text-decoration: none !important;
		animation: none !important;
	}
	@media screen and (min-width: 769px) {
		.button.search-button {
			right: 1.25rem !important;
		}
	}
	.search-button .icon {
		background-color: var(--text-link) !important;
	}

	/* Improve theme toggle */
	.theme-toggle .icon {
		margin-right: .5rem !important;
	}
}

@-moz-document domain(youtube.com) {

	/* Home */
	ytd-guide-section-renderer:nth-of-type(1) #items > ytd-guide-entry-renderer:nth-of-type(1),
	/* Explore */
	ytd-guide-section-renderer:nth-of-type(1) #items > ytd-guide-entry-renderer:nth-of-type(2),
	/* Shorts */
	ytd-guide-section-renderer:nth-of-type(1) #items > ytd-guide-entry-renderer:nth-of-type(3),

	/* History */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(1),
	/* Your Videos */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(2),
	/* Your Movies */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(3),

	ytd-guide-collapsible-entry-renderer #expandable-items > ytd-guide-entry-renderer:not(
		/* Keep three most-recently edited playlists (e.g. Liked Videos) as well as the last playlist */
		:nth-of-type(1),
		:nth-of-type(2),
		:nth-of-type(3),
		:last-of-type
	),

	/* Subscriptions */
	ytd-guide-section-renderer:nth-of-type(2),

	/* More from YouTube */
	ytd-guide-section-renderer:nth-of-type(3),

	/* Report history */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(2),
	/* Help */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(3),
	/* Send feedback */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(4),

	ytd-guide-section-renderer h3,
	#collapser-item,
	#footer,
	#voice-search-button,

	/* Create */
	ytd-topbar-menu-button-renderer:nth-of-type(1),
	/* YouTube apps */
	ytd-topbar-menu-button-renderer:nth-of-type(2),

	ytd-live-chat-frame,

	ytd-profile-column-renderer {
		display: none !important;
	}

	ytd-guide-section-renderer {
		border-bottom: none !important;
		padding: 0 !important;
	}

	ytd-guide-collapsible-section-entry-renderer {
		border-top: none !important;
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}
