@-moz-document url-prefix(about:reader) {
	
	.narrate-toggle,
	.pocket-button {
		display: none !important;
	}

	.toolbar {
		border: none !important;
		box-shadow: none !important;
	}
}

@-moz-document domain(youtube.com) {

	/* Home */
	ytd-guide-section-renderer:nth-of-type(1) #items > ytd-guide-entry-renderer:nth-of-type(1),
	/* Explore */
	ytd-guide-section-renderer:nth-of-type(1) #items > ytd-guide-entry-renderer:nth-of-type(2),

	/* History */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(1),
	/* Your Videos */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(2),
	/* Your Movies */
	ytd-guide-collapsible-section-entry-renderer #section-items > ytd-guide-entry-renderer:nth-of-type(3),

	ytd-guide-collapsible-entry-renderer #expandable-items > ytd-guide-entry-renderer:not(
		/* Keep two most-recently edited playlists (e.g. Liked Videos) as well as the last playlist */
		:nth-of-type(1),
		:nth-of-type(2),
		:last-of-type
	),

	/* Subscriptions */
	ytd-guide-section-renderer:nth-of-type(2),

	/* More from YouTube */
	ytd-guide-section-renderer:nth-of-type(3),

	/* Report history */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(2),
	/* Help */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(3),
	/* Send feedback */
	ytd-guide-section-renderer:nth-of-type(4) ytd-guide-entry-renderer:nth-of-type(4),

	ytd-guide-section-renderer h3,
	#collapser-item,
	#footer,
	#voice-search-button,

	/* Create */
	ytd-topbar-menu-button-renderer:nth-of-type(1),
	/* YouTube apps */
	ytd-topbar-menu-button-renderer:nth-of-type(2),
	
	ytd-profile-column-renderer {
		display: none !important;
	}

	ytd-guide-section-renderer {
		border-bottom: none !important;
		padding: 0 !important;
	}

	ytd-guide-collapsible-section-entry-renderer {
		border-top: none !important;
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}

@-moz-document domain(outlook.office.com) {

	* {
		--themeDark: white;
		--themePrimary: white;
	}

	#O365_NavHeader,
	.o365cs-base .o365sx-waffle,
	.o365cs-base .o365sx-appName,
	.o365cs-base .o365sx-button {
		background: none !important;
	}
	#owaMeetNowButton_container,
	#skype_container,
	#owaNoteFeedButton_container,
	#owaTimePanelBtn_container,
	#owaActivityFeedButton_container,
	#owaHelpButton_container,
	#owaWhatsNewBtn_container {
		display: none !important;
	}

	._1CeAIHzID37KPlA8YSGw_o {
		display: none !important;
	}

	.content-139,
	.content-140,
	.content-141,
	.content-142,
	.content-143,
	.content-144 {
		background-color: #171717 !important;
	}
	.root-139 :first-child,
	.root-140 :first-child,
	.root-141 :first-child,
	.root-142 :first-child,
	.root-143 :first-child,
	.root-144 :first-child {
		background-color: transparent !important;
		border-color: white !important;
	}

}
